<div id="paint-box" class="paint-box-hide">
	<div class="pencil-select"></div>
	<div class="color-select">
        <div class="red selected"></div>
        <div class="orange"></div>
        <div class="yellow"></div>
        <div class="green"></div>
        <div class="blue"></div>
        <div class="cyan"></div>
        <div class="purple"></div>
        <div class="black"></div>
        <div class="white"></div>
    </div>
    <div id="rect"></div>
    <div id="eraser"></div>
    <div class="btn-wrap">
    	<span id="clear">清空</span>
    </div>
	<span id="r-arrow"></span>
</div>